<!DOCTYPE html>
<html>

	<head>
		<!--<link rel="stylesheet" href="/css/mui.min.css">

		<link rel="stylesheet" href="/css/app.css">-->
		<link rel="stylesheet" href="../css/mui.picker.min.css">
		<script src="../js/mui.min.js"></script><!--此处包含了事件处理 -->
		<script src="../js/mui.picker.min.js"></script>

		<link rel="import" href="./headerDiff.tpl?__inline"><!--此处不包含了事件处理 -->

		<title>米家会员福利</title>
	</head>

	<body>
		<link rel='import' href="../component/newVip/newVip.tpl?__inline" />

		<script>
//			$.ajax({
//				type: "get",
//				url: "https://open.weixin.qq.com/connect/qrconnect",
//				data: $.param({
//					appid: 'wxb19744b27d3937a4',
//					redirect_url: 'http://wechat.xuweidong.com/member/index.html',
//					response_type: 'code',
//					scope: 'snsapi_login',
//					state: 'init'
//				}, true),
//				success: function(data, status, xhr) {
//					alertN(data)
//				},
//				error: function(xhr, errorType, error) {
//
//				}
//			});
		</script>
	</body>

</html>